tensorflow==2.14.0
panns-inference==0.1.1
deepface==0.0.79
transformers==4.36.0
onnxruntime==1.16.3
fastapi==0.103.0
gradio==4.31.0
confluent-kafka==2.3.0
numpy==1.24.3
librosa==0.10.1
opencv-python==4.8.0.76
tf2onnx==1.16.1
huggingface-hub==0.19.3
tokenizers==0.15.0
uvicorn==0.23.2
torch==2.0.1